# Ignore environment variables
.env

# Ignore node_modules folders in both client and server
client/node_modules/
server/node_modules/

# Ignore logs
logs
*.log

# Ignore local environment settings
.vscode/
.DS_Store

# Ignore build files (if you're using something like React)
client/build/

# Ignore product gallery and about page images
client/public/ProductGallery/
client/src/Components/Gallery/logo.jpg
client/src/Components/Gallery/jennyfer.jpg